*{
  padding: 0; 
  margin : 0;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif 
}


@tailwind base;
@tailwind components;
@tailwind utilities;



/*----------Leyout------------*/

.content {
   width: 85%;
}
.raduis{
  border-radius: 10px;
}

.bg{
  background-position: center;
  background-size: cover;
}

.flex-center{
  @apply flex items-center justify-center
}

.flex-between{
  @apply flex items-center justify-between
}

.align-center{
  @apply flex items-center
}

.btn{
  height: 50px;
  padding: 0 30px;
  @apply flex items-center text-white;
  
}

.shadow{
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.cercle-btn {
  @apply w-[60px] h-[60px] rounded-full bg-color_3 text-white;
}

img{
  object-fit: cover;
}

.border-gradient {
  border: 1px solid transparent;
  border-image: linear-gradient(to right, #F0EFFB, #6547D7) 10;
}

/*--Welcom Section--*/

.bg-welcom-section{
  position: relative;

}

.bg-welcom-section::after{
  position: absolute;
  z-index: -1;
  content: "";
  width: 100%;
  height: 100%;
  left: 0;
  @apply sm:rounded-[50px] rounded-none;
  top: 0;
  background-image: linear-gradient(to right , rgba(0, 0, 0, 0.495) , 5% , transparent);
}